.question-container {
  display: block;
  border: 1px solid rgb(222, 57, 234);
  text-align: center;
  margin: 32px 0;
}

.question {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(222, 57, 234);
  max-width: 300px;
  gap: 2px;
  padding: 16px;
  margin: 16px;
  border-radius: 4px;
}

.question-info {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

h3 {
  margin: 0;
}
