.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  align-items: center;
}

.styled-table thead tr {
  background-color: #ab22c4;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table thead tr th:first-child,
.styled-table tbody tr td:first-child {
  width: 400px;
  word-break: break-all;
}

.user-avatar-container {
  display: flex;
  flex-direction: row;
  vertical-align: center;
  align-self: center;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
  }
  .user-info {
    display: flex;
    flex-direction: column;
    vertical-align: center;
    padding: 20px 10px;
  }
}

.leader-board-container {
  display: flex;
  justify-content: center;
}